<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Charge locator </title>
</head>

    

<!-- HEADER SECTION -->


<header>
  
  <a href="{{ url_for('home') }}" class="logo"> <img src="/static/pic/LOGO1.PNG" alt="logo"> </a>
  
  <nav>
    <ul>
      
     <li><a href="{{ url_for('login') }}" class="cta">Login</a></li>
  </ul>
  </nav>
  
  
</header>

    <body>

      <div class="hero">
        <h1>Electric Vehicle Charging Station</h1>
        <p>Find charge Book your charging slot, enjoy the ride</p>
      </div>
    </header>
    
    <section class="services">
      <h2>Our Services</h2>
      <div class="charge">
        <div class="card">
          <img src="/static/pic/carcharge-removebg-preview.png" alt="">
          <h3>Charging</h3>
          <p>Charge your electric car with clean energy</p>
        </div>
        <div class="card">
          <img src="/static/pic/man.webp" alt="">
          <h3>Membership</h3>
          <p>Join our membership program and save money</p>
        </div>
        <div class="card">
          <img src="/static/pic/support-removebg-preview.png" alt="">
          <h3>Support</h3>
          <p>24/7 support to help you with your charging needs</p>
        </div>
      </div>
    </section>

    <section class="about">
      <h2>About Us</h2>
      <p>"We are here to help you find and book EV charging slots with real-time availability for a seamless charging experience! Locate the nearest charging station, check slot availability instantly, and secure your spot in just a few clicks. Drive electric with ease and confidence!"</p>
      <!-- <button>Learn More</button> -->
    </section>

    <!-- <section class="contact">
      <h2>Contact Us</h2>
      <form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <label for="message">Message:</label>
        <textarea id="message" name="message"></textarea>
        <button type="submit">Send</button>
      </form>
    </section> -->

    





</body>

<!-- FOOTER SECTION -->


 

        <footer>
            <div class="footer-content">
                <h3>footer</h3>
                <p>&copy; 2025 EV Charging Station Finder. All rights reserved.</p>
            </div>
        </footer>
   
    </html>












